* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  font-family: 'Magra', sans-serif;
  background-color: #ffffff;
  overflow-x: hidden;  /* scroll horizontal desactivado */
  overflow-y: auto;    /* scroll vertical activado */
}

.body-wrapper {
  min-height: calc(100vh - 120px); /* footer no tapa */
  padding-bottom: 20px;
}

.footergen {
  width: 100%;
  height: 120px;
  background-color: #075B5E;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.header {
    width: 100%; 
    height: 120px;
    background-color: #9FC87E;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    box-sizing: border-box;
}

.logo {
    height: 78px;
    width: auto;
    display: block;
    object-fit: contain;
    border-radius: 100px;
}

.logocontainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brandname {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: black;
    position: relative;
}

.menu-compacto {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.menu-compacto a {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 32px;
  text-decoration: none;
  color: #004d40;       
  font-weight: bold;
}

.menu-compacto a:not(:last-child)::after {
  content: "|";
  margin-left: 10px;
  margin-right: 0;
  font-family: Arial, sans-serif; 
  font-style: normal;
  font-weight: bold;
  color: #004d40;
}
.verdesocuro {
    color: #075B5E;
}

.textorosa {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 64px;
    line-height: normal; 
    color: #FFB3AE;
    text-shadow:
        -6px -6px #7B2020, -5px -6px #7B2020, -4px -6px #7B2020, -3px -6px #7B2020, -2px -6px #7B2020, -1px -6px #7B2020, 0px -6px #7B2020, 1px -6px #7B2020, 2px -6px #7B2020, 3px -6px #7B2020, 4px -6px #7B2020, 5px -6px #7B2020, 6px -6px #7B2020,
        -6px -5px #7B2020, 6px -5px #7B2020,
        -6px -4px #7B2020, 6px -4px #7B2020,
        -6px -3px #7B2020, 6px -3px #7B2020,
        -6px -2px #7B2020, 6px -2px #7B2020,
        -6px -1px #7B2020, 6px -1px #7B2020,
        -6px 0px #7B2020, 6px 0px #7B2020,
        -6px 1px #7B2020, 6px 1px #7B2020,
        -6px 2px #7B2020, 6px 2px #7B2020,
        -6px 3px #7B2020, 6px 3px #7B2020,
        -6px 4px #7B2020, 6px 4px #7B2020,
        -6px 5px #7B2020, 6px 5px #7B2020,
        -6px 6px #7B2020, -5px 6px #7B2020, -4px 6px #7B2020, -3px 6px #7B2020, -2px 6px #7B2020, -1px 6px #7B2020, 0px 6px #7B2020, 1px 6px #7B2020, 2px 6px #7B2020, 3px 6px #7B2020, 4px 6px #7B2020, 5px 6px #7B2020, 6px 6px #7B2020;
}

.contenedor-iconos {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    width: auto;
    gap: 15px;
  
}

.bolsa {
    width: 54px;
    height: 51px;
    display: block;
}

.avatar {
    width: 58px;
    height: 58px;
    display: block;
}

.bloquecompa単ero {
    width: 860px;
    height: 190px;
    padding-left: 10px;
    text-align: center;
    margin-top: -380px;
}

.textonegro {
    color: #000000;
    font-family: 'Magra', sans-serif;
    font-size: 32px;
    margin-top: -80px;
}

.bloquetextocompa単ero {
    width: 553px;
    height: 169px;
    margin-left: 150px;
    text-align: center;


}

.imagenhome {
    width: 618px;
    height: 475px;
    top: -380px;
    margin-left: 550px;


}



    .backgroundServicios {
    background-color: #FFE6E1;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 40px; 
    overflow-x: auto;
        }

    .imgte単ido,
    .imgropa,
    .imgperfume {
      width: 363px;
      height: 363px;
      border-radius: 50%;
      margin-top: 60px;
      position: absolute;
    }

    .imgte単ido { margin-left: 40px; }
    .imgropa { margin-left: 240px; }
    .imgperfume { margin-left: 440px; }

    .bloquemaq,
    .bloqueind,
    .bloqueperf {
      position: absolute;
      text-align: center;
    }

    .bloquemaq {
      width: 254px;
      height: 121px;
      margin-top: 500px;
      margin-left: 140px;
    }

    .bloqueind {
      width: 318px;
      height: 78px;
      margin-top: 520px;
      margin-left: 510px;
    }

    .bloqueperf {
      width: 241px;
      height: 56px;
      margin-top: 520px;
      margin-left: 940px;
    }

    .bloqueblanco1,
    .bloqueblanco2,
    .bloqueblanco3 {
      position: absolute;
      width: 341px;
      height: 112px;
      background-color: #FFFFFF;
      opacity: 0.44;
      margin-top: 505px;
      text-align: center;
    }

    .bloqueblanco1 { margin-left: 90px; }
    .bloqueblanco2 { margin-left: 500px; }
    .bloqueblanco3 { margin-left: 890px; }

    .bloqueclic {

      width: 526px;
      height: 103px;
      font-family: 'Magra', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 30px;
      margin-top: 650px;
      margin-left: 420px;
      text-align: center;
    }

    .textorosa48 {
      font-family: 'Racing Sans One', sans-serif;
      font-size: 48px;
      color: #FFB3AE;
      text-shadow:
        -3px -3px #7B2020, -2px -3px #7B2020, -1px -3px #7B2020,
        0px -3px #7B2020, 1px -3px #7B2020, 2px -3px #7B2020, 3px -3px #7B2020,
        -3px -2px #7B2020, 3px -2px #7B2020,
        -3px -1px #7B2020, 3px -1px #7B2020,
        -3px 0px #7B2020, 3px 0px #7B2020,
        -3px 1px #7B2020, 3px 1px #7B2020,
        -3px 2px #7B2020, 3px 2px #7B2020,
        -3px 3px #7B2020, -2px 3px #7B2020, -1px 3px #7B2020,
        0px 3px #7B2020, 1px 3px #7B2020, 2px 3px #7B2020, 3px 3px #7B2020;
}
.contenedoropciones {
  position: relative;
  max-width: 1288px; 
  width: 100%;
  margin: 0 auto;
  height: auto; 
  padding: 20px; 
  box-sizing: border-box;
}
.backgroundproductos {
    background-color: #FFFFFF;
}
.bloquetit {
    margin-left: 50px;
}
.bloquefiltro {
    margin-left: 70px;
}

.contenedorimg1 {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.producto {
  text-align: center;
}

.nombreproducto {
  font-family: 'Racing Sans One', sans-serif;
  font-size: 32px;
  color: #075B5E;
  margin-top: 10px;
}

.boton {
    background-color: #FF3F33;
    width: 130px;
    height: 51px;
    margin-left: 95px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px; 
}
.txtblanco {
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Magra', sans-serif;
    margin: 0;
}
.precio {
    font-family:'Magra', sans-serif ;
    font-size: 24px;
    color:#075B5E ;
}
.contenedorimg2 {
     display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 100px; 
}
.producto {
  text-align: center;
  font-family: 'Magra', sans-serif;
}

.nombreproducto {
  font-size: 20px;
  color: #075B5E;
  font-weight: bold;
  margin-top: 10px;
}

.precio {
  font-size: 18px;
  color: #075B5E;
  margin: 5px 0;
  }
.footer {
  background-color: #075B5E;
  width: 100%;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
}

.imgmapa {
  width: 306px;
  height: 299px;
  border-radius: 75px;
  margin-top: 20px;
}
.titfooter {
  font-family:  'Magra', sans-serif;
  font-size: 36px;
  color: #FFFFFF;
}
.bloquefooter {
  width: 1162px;
  height: 43px;
  text-align: center;
  gap: 20px;
  display: flex;
  justify-content: space-between;
   margin: 0 auto; 
}
.bloquedesc {
  width: 313px;
  height: 57px;
  text-align: center;
}
.bloqmail {
  margin-top: -350px;
  text-align: center;
  text-decoration: underline;
  color: #FFFFFF;
}

.iconomensaje {
  margin-top: 8px;
  display: flex;
  justify-content: center;
}

.iconomensaje img {
  width: 69px;
  height: auto;
  margin-top: 20px;
}
.seguinosbl {
margin-left: 580px;
margin-top: 50px;
}
.logoredes {
  margin-left: 615px;
margin-top: 15px;
width: 93px;
height: 93px;
border-radius: 100%;
}
.bloquederedes {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

.logoig,
.logotk,
.logoface {
  width: 54px;
  height: 54px;
  border-radius: 15%;
}

.videosection {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.video-wrapper {
  width: 300px;
  height: 300px;             
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
